/* 
Author: Caetie Ofiesh
Project: guerrilla dinners sf
*/


/* BASE STYLES */

body {
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background: white;
	font-family: Helvetica, sans-serif;
	font-weight: 400;
	color: black;
	line-height: 1.5;
	padding-left: 60px;
	/*padding-right: 33%;  400 */
	min-width: 600px;
	max-width: 750px;
}

h1 {
	font-size: 80px;
	color: #571B7E; /* purple iris */
	font-family: Helvetica, sans-serif;
	font-weight: 500;
	padding-left: 15px;
	line-height: 1.2;
	margin-bottom: 1px;
}

h2 {
	font-size: 26px;
	padding-left: 145px;
	line-height: 1.2;
	margin-bottom: 2px;
	color: #571B7E; /* purple iris */
}

h3 {
	font-size: 18px;
	padding-left: 145px;
	line-height: 1.2;
	margin-top: 12px;
	margin-bottom: 6px;
}

h4 {
	font-size: 26px;
	font-weight: 400;
	padding-left: 15px;
	line-height: 1.0;
	margin-top: 1px;
}

a {
	color: black;
	text-decoration: underline;
}

a:hover {
	color: #571B7E; /* purple iris */
}

p {
	padding-left: 145px;
}

p.no-margin {
	margin: 0;
	padding-left: 145px;
}

p.right {
	text-align: right;
}

p.bio {
	padding-left: 145px;
	margin: 0;
}

p.messing {
	padding-left: 145px;
}

#main {
	background: white;
	color: black;
}

/*
#bio {
	background: black;
	color: white;
	padding: 20px;
}
*/

#header {
	padding-left: 130px;
	line-height: 1.0;
}

#footer {
	background: #571B7E; /* purple iris */
	padding: 15px;
	text-align: right;
	padding-right: 30px;
}

/* Purples:
#571B7E	Purple Iris (medium dark, with reds)
#7D1B7E	Dark Orchid (lighter, with reds)
#461B7E	Purple Monster (darker)
#4B0082	Indigo (darkest)
#7D0552 Plum Velvet (lightest, lots of red)
*/
 